<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>

  <body>
    {% include "header.html" %}
    <main class="container">{% block main %}{% endblock %}</main>
    {% include "footer.html" %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
