<footer class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12 col-md-4 mb-3 mb-md-0">
      <ul class="nav flex-column align-items-center">
        <li class="nav-item mb-2">
          <a href="{{ url_for('router.index') }}" class="nav-link p-0 text-body-secondary">{{ _("Home") }}</a>
        </li>
        <li class="nav-item mb-2">
          <a href="{{ url_for('router.about') }}" class="nav-link p-0 text-body-secondary">{{ _("About") }}</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">{{ _("Contact") }}</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">{{ _("Guides") }}</a>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-4 mb-3 mb-md-0">
      <div class="d-none d-md-flex flex-column align-items-center">
        <p class="small">© {{ current_year }} Find Your Guide {{ _("Inc.") }}</p>
        <p class="small">{{ _('All rights reserved.') }}</p>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <ul class="nav flex-column align-items-center">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">{{ _("Privacy Policy") }}</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">{{ _("Terms of Service") }}</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">{{ _("Cookies Policy") }}</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">{{ _("Legal Notice") }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="d-flex d-md-none justify-content-center py-3">
    <p class="small">© {{ current_year }} Find Your Guide {{ _("Inc.") }},&nbsp;{{ _('All rights reserved.') }}</p>
  </div>
</footer>
