{% extends 'base.html' %}

{% block main %}
  <div class="my-5">
    <div class="text-center">
      <h1 class="display-4">{{ _('Our Guides') }}</h1>
      <p class="lead">{{ _('Meet our experienced guides who are passionate about showing you the best of their cities.') }}</p>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <form class="row g-3">
              <div class="col-md-6">
                <label for="language" class="form-label">{{ _('Language') }}</label>
                <select id="language" class="form-select" onchange="filterGuides()">
                  <option value="">{{ _('Choose...') }}</option>
                  {% for language in languages %}
                    <option value="{{ language }}">{{ _(language) }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <label for="location" class="form-label">{{ _('Location') }}</label>
                <select id="location" class="form-select" onchange="filterGuides()">
                  <option value="">{{ _('Choose...') }}</option>
                  {% for location in locations %}
                    <option value="{{ location }}">{{ _(location) }}</option>
                  {% endfor %}
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="guides-list">
      {% for guide in guides %}
        <div class="col-12 col-md-6 mb-4 guide" data-language="{{ guide.languages }}" data-location="{{ guide.location }}">
          <div class="card shadow-sm position-relative">
            <a href="https://wa.me/{{ whatsapp_number }}?text=Hello,%20I%20would%20like%20to%20know%20more%20about%20the%20tours%20with%20{{ guide.name }}" class="btn btn-light position-absolute top-0 end-0 m-2 whatsapp-btn" target="_blank"><i class="fa-regular fa-comments"></i><span class="d-none d-sm-inline-block">&nbsp;{{ _('Start chat') }}</span></a>
            <div class="card-body d-flex flex-column align-items-start">
              <div class="d-flex align-items-center mb-3 w-100">
                <img src="{{ url_for('static', filename=guide.avatar) }}" class="rounded-circle" style="width: 75px;" alt="Avatar" />
                <div class="ms-3">
                  <h5 class="mb-1">{{ guide.name }}</h5>
                  <p class="mb-0">
                    <i class="fas fa-map-marker-alt"></i> {{ guide.location }}
                  </p>
                  <p class="mb-0">
                    <i class="fas fa-language"></i> {{ guide.languages }}
                  </p>
                </div>
              </div>
              <p class="mb-3">{{ guide.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <script>
    function filterGuides() {
      const language = document.getElementById('language').value.toLowerCase();
      const location = document.getElementById('location').value.toLowerCase();
      const guides = document.querySelectorAll('.guide');
    
      guides.forEach((guide) => {
        const guideLanguages = guide.getAttribute('data-language').toLowerCase();
        const guideLocation = guide.getAttribute('data-location').toLowerCase();
    
        if ((language === '' || guideLanguages.includes(language)) && (location === '' || guideLocation.includes(location))) {
          guide.style.display = '';
        } else {
          guide.style.display = 'none';
        }
      });
    }
  </script>
{% endblock %}
